/*Resets default styles for all elements*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Styling for links*/
a {
  color: #ffffff;
  text-decoration: none;
}

/*General styles for the body*/
body {
  background-color: #d9dcd6;
  color: #ffffff;
  font-size: 1rem;
}

/*Paragraph styles*/
p {
  font-size: 1rem;
}

/*Styling for benefits section*/
.benefits {
  margin-right: 1.25rem;
  padding: 1.25rem;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/*Styling for individual benefit articles*/
.benefit-brand,
.benefit-cost,
.benefit-lead {
  margin-bottom: 2rem;
  color: #ffffff;
}

/*Heading styles within benefit articles*/
.benefit-brand h3,
.benefit-cost h3,
.benefit-lead h3 {
  margin-bottom: 0.625rem;
  text-align: center;
}

/*Image styles within benefit articles*/
.benefit-brand img,
.benefit-cost img,
.benefit-lead img {
  display: block;
  margin: 0.625rem auto;
  max-width: 9.375rem;
}

/*Content section styles*/
.content {
  width: 75%;
  display: inline-block;
  margin-left: 1.25rem;
}

/*Float styles for images*/
.float-left {
  float: left;
  margin-right: 1.5625rem;
}

.float-right {
  float: right;
  margin-left: 1.5625rem;
}

/*Footer styles*/
.footer {
  padding: 1.875rem;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  color: black;
}

.footer h2 {
  font-size: 1.25rem;
}

/* Header styles */
.header {
  padding: 1.25rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/*Navigation menu styles*/
.header nav {
  padding-top: 0.9375rem;
  margin-right: 1.25rem;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.25rem;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 1.5625rem;
}

.header h1 {
  display: inline-block;
  font-size: 3rem;
}

.header h1 .seo {
  color: #d9dcd6;
}

/*Styles for hero section*/
.hero {
  height: 50rem;
  width: 100%;
  margin-bottom: 1.5625rem;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/*Styles for service articles*/
.online-reputation-management,
.search-engine-optimization,
.social-media-marketing {
  margin-bottom: 1.25rem;
  padding: 3.125rem;
  height: 18.75rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/*Styles for images whitin service articles*/
.online-reputation-management img,
.search-engine-optimization img,
.social-media-marketing img {
  max-height: 12.5rem;
}

/*Heading styles within service articles*/
.online-reputation-management h2,
.search-engine-optimization h2,
.social-media-marketing h2 {
  margin-bottom: 1.25rem;
  font-size: 2.25rem;
}
